
html,
body {
  height: 100%;
}

body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

$brand-success: adjust-hue($green, -20deg);

@font-face {
  font-family: 'Old English';
  src: url('../fonts/old-english.woff2') format('woff2'),
  url('../fonts/old-english.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}