
html,
body {
  height: 100%;
}

body {
  min-height: 75rem;
  // 1 rem = 16 px
  // 50 pixels
  padding-top: 3.125rem; 
}

//$brand-success: adjust-hue($green, -20deg);

//.container{position:relative}

//@font-face {
//  font-family: 'Old English';
//  src: url('../fonts/old-english.woff2') format('woff2'),
//  url('../fonts/old-english.woff') format('woff');
//  font-weight: normal;
//  font-style: normal;
//}