{
  "presets": [
    "react",
    ["env", { 
      "targets": {
        "browsers": ["last 2 versions", "IE >= 8", "safari >= 7"],
        "node": "current"
      },
      "modules": false,
      "debug": false,
    }],
    "babel-preset-stage-0",
  ],
  "plugins": [
    "react-hot-loader/babel",
    "babel-plugin-transform-decorators-legacy",
    "babel-plugin-transform-regenerator",
    "babel-plugin-transform-runtime",
    "babel-plugin-transform-es2015-modules-commonjs",
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source"
      ]
    }
  }
}