
.bgYELLOW {
  background: #FFFF00;
}

.bgCHARTREUSE {
  background: #71C671;
}

.bgPINK {
  background: #FFC0CB;
}

.bgPURPLE {
  background: #9B30FF;
}

.bgSKYBLUE {
  background: #87CEFF;
}

.bgSPRINGGREEN {
  background: #00FF7F;
}

.coloredText1 {
  color: #009900;
}

.coloredText2 {
  color: #999000;
}

.fa2 {
  transform: scale(1.5,1);
}

.fa1 {
  font-size:60px;
  color:red;
}

.colItems {
  margin: 10px 0;
}

.colItem {
  font-size: 50px;
  text-align: center;
}

.text {
  display: block;
  font-size: 30px;
  color: #666666;
}

.colorMarginStyle {
  margin-top: 20px;
  color: #5c6ac4;
  border: 3px solid #5c6ac4;
}

