
.bgYellow {
  background: #FFFF00;
}

.bgCHARTREUSE {
  background: #71C671;
}

.bgPINK {
  background: #FFC0CB;
}

.bgPURPLE {
  background: #9B30FF;
}

.bgSKYBLUE {
  background: #87CEFF;
}

.bgSPRINGGREEN {
  background: #00FF7F;
}